.header .nav li.item-select {
  background: #00adef;
}
.header .nav li:hover {
  background: #00adef;
}
.wtf-menu ul.submenu li:hover {
  background: #00adef;
}
.tp-caption.grey_heavy_72-light {
  color: #00adef;
}
.tp-caption.icon i {
  background: #00adef;
}
.services-one .service-sec .icon {
  background: #00adef;
}
.z-tabs.silver > ul > li.z-active > a {
  border-bottom: solid 5px #00adef;
  color: #00adef;
}
.z-tabs.horizontal .detail a:hover {
  background-color: #00adef;
}
.meet-specialists .detail h6 {
  color: #00adef;
}
.meet-specialists .detail a:hover {
  color: #00adef;
}
.latest-news .post .detail a:hover {
  color: #00adef;
}
.patients-testi .testi-sec span.name {
  color: #00adef;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #00adef;
}
.main-footer .tweets .text a:hover {
  color: #00adef;
}
.main-footer .newsletter .form input[type="submit"]:hover {
  background: #00adef;
}
.cd-top {
  background-color: #00adef;
}
.header2 .nav li.item-select {
  background: #00adef url(../images/navi-plus.png) no-repeat 50% 32%;
}
.header2 .nav li.item-select:hover {
  background: #00adef url(../images/navi-plus.png) no-repeat 50% 32%;
}
.header2 .nav li:hover {
  background: #464c5b url(../images/navi-plus.png) no-repeat 50% 32%;
  border-radius: 0;
  padding: 46px 0 32px 0;
}
.tp-bullets.preview4 .bullet.selected {
  background: #00adef !important;
}
.services-two .service-sec .icon {
  background: #00adef;
}
.services-three .serv-sec {
  background: #00adef;
}
.services-three .serv-sec.serv-sec2 {
  background: #00adef;
}
.services-three .serv-sec.serv-sec3 {
  background: #00adef;
}
.welcome-two .welcome-detail ul li {
  color: #00adef;
}
.footer-light .emergency i {
  color: #02adc9;
}
.footer-light .main-footer .title h5 {
  color: #00adef;
  border-bottom: solid 1px #00adef;
}
.footer-light .main-footer .tweets .text a {
  color: #00adef;
}
.footer-light .main-footer .tweets .icon {
  color: #00adef;
}
.footer-light .main-footer .get-touch ul li a:hover span {
  color: #00adef;
}

/** banner three **/
.main-banner-three {
  background: rgba(2, 173, 198, 0.69);
}
/** Fancybox overlay **/
.fancybox-overlay {
  background: rgba(2, 173, 198, 0.84);
}
/** Team Social icons **/
.cbp-caption-activeWrap {
  background-color: rgba(2, 173, 198, 0.81);
}

.appointment-form .form input[type="submit"]:hover {
  background: #00adef;
}
.services-five .service-sec .icon {
  background: #00adef;
  box-shadow: 0 0 0 3px #00adef;
}
.sub-banner .detail ul li:last-child a {
  color: #00adef;
}
.sub-banner .detail ul li a:hover {
  color: #00adef;
}
.why-choose li.open .link {
  color: #00adef;
}
.why-choose li.open i {
  color: #00adef !important;
}
#services-slide .owl-controls .owl-page.active span {
  background: #00adef;
}
.welcome-three .welcome-detail ul li i {
  color: #00adef;
}
.member-detail .team-detail .name h6 {
  color: #00adef;
}
.year {
  color: #00adef;
}
.main-appointment-form .appointment-form {
  background: #00adef;
}
.main-appointment-form .appoint-icon {
  background-color: #00adef;
}
.contact-us .leave-msg .form input[type="submit"]:hover {
  background: #00adef;
}
.contact-us .give-msg input[type="submit"]:hover {
  background: #00adef;
}
.departments .depart-sec a:hover {
  background: #00adef;
}
.investigation .investigation-sec .title {
  background: #00adef;
}
.cbp-l-filters-list .cbp-filter-item.cbp-filter-item-active {
  color: #00adef;
  border-bottom: solid 5px #00adef;
}
.cbp-l-filters-list .cbp-filter-item:hover {
  border-bottom: solid 5px #00adef;
}
.main-gallery .layer i {
  background: #02b4d6;
}
.main-gallery .gallery-sec .detail h6 {
  color: #00adef;
}
.main-gallery .gallery-sec .detail {
  border-bottom: solid 4px #00adef;
}
.main-gallery a.gallery-sec:hover .detail {
  background: #00adef;
}
.main-gallery .paging a:hover {
  background: #00adef;
  border: solid 1px #00adef;
}
.main-gallery .paging a.selected {
  background: #00adef;
  border: solid 1px #00adef;
}
.news-posts .comment-box .detail a:hover {
  background: #00adef;
}
.news-posts .leave-reply .form input[type="submit"]:hover {
  background: #00adef;
}
.news-posts .categories ul li a:hover {
  color: #00adef;
}
.news-posts .recent-posts .post-sec a.title:hover {
  color: #00adef;
}
.news-posts .news-sec .detail a.read-more:hover {
  background-color: #00adef;
}
.news-masonary .news-sec a:hover {
  color: #00adef;
}
.text-posts .post-sec a.title:hover {
  color: #00adef;
}
.text-posts .post-sec p a {
  color: #00adef;
}
.text-posts .post-sec ul li a:hover i {
  color: #00adef;
}
.text-posts .post-sec ul li a:hover span {
  color: #00adef;
}
.text-posts .next-pre a:hover {
  color: #00adef;
}
.patient-family .how-treat a:hover {
  background: #00adef;
}
.procedures-links span.title {
  background: #00adef;
}
.procedures .procedure-text ul li {
  color: #00adef;
}
.procedures .about-cancer-center span.name {
  color: #00adef;
}
#procedures-faq.accordion li.open .link {
  background-color: #00adef;
}
.research .research-detail li i {
  color: #00adef;
}
.services-content .serv-sec .detail h5 {
  color: #00adef;
}
.product-thumb label {
  background: #00adef;
}
.product-description h3 a {
  color: #00adef;
}
.product-description .product-cart-btn:hover,
.product-description .product-detail-btn:hover {
  color: #00adef;
}
.ui-widget-header {
  background: #00adef;
}
.top-products .top-products-detail a {
  color: #00adef;
}
.ratings.big i {
  color: #00adef;
}
.product-detail-slider .rslides_tabs li.rslides_here a {
  background: #00adef;
}
a#add-review-btn:hover {
  background-color: #00adef;
}
.resp-vtabs li.resp-tab-active {
  color: #00adef;
}
.product-detail-description .btn-medium:hover {
  background: #00adef;
}
.pricing-table-footer a {
  background-color: #00adef;
}
.all-team-members .detail h6 {
  color: #00adef;
}
.all-team-members .detail a:hover {
  color: #00adef;
}
.cbp-l-caption-text a:hover {
  color: #00adef;
}
.main-footer .useful-links ul li a:hover {
  color: #00adef;
}
.main-footer .get-touch ul li a:hover span {
  color: #00adef;
}
#accordion2 .time-table {
  background: #00adef url(../images/time-icon-bg.png) no-repeat;
}
.top-bar .get-touch li:last-child a:hover {
  color: #2b96cc;
}
.meet-specialists .gallery-sec .layer {
  background-color: rgba(2, 173, 198, 0.84);
}
.member-detail .gallery-sec .layer {
  background-color: rgba(2, 173, 198, 0.81);
}
.meet-specialists .gallery-sec a:hover {
  color: #00adef;
}
.footer-light .main-footer .newsletter .form input[type="submit"]:hover {
  background: #00adef;
}
.why-choose li i {
  color: #00adef;
}
#page .header a {
  background-color: #00adef !important;
}
.mm-menu {
  background: #00adef !important;
}
ul.z-tabs-nav.z-tabs-mobile.z-state-closed {
  background-color: #00adef !important;
}
ul.z-tabs-mobile li:first-child {
  background-color: #00adef !important;
}
.header2.sticky .nav li.item-select {
  background: #00adef;
}

.shop-cart .cart-pro-detail .cancel i {
  color: #00adef;
}
.cash-decide .cart-total .total-sec a {
  background: #00adef;
}

.shop-cart .cart-update-sec a:hover {
  background: #00adef;
}
